<div
  class="flex items-center justify-center rounded-lg border border-wood-border bg-wood-lighter p-2 dark:border-dark-wood-border dark:bg-dark-wood"
>
  <div
    class="relative"
    [ngClass]="{
      'h-20 w-16': size === 'small',
      'h-28 w-24': size === 'medium',
      'h-36 w-32': size === 'large',
    }"
  >
    <!-- 棋盘网格背景 -->
    <div class="absolute inset-0 grid grid-cols-4 grid-rows-5 gap-0.5">
      <ng-container *ngFor="let cell of gridCells; let j = index">
        <div class="rounded-sm bg-wood-lighter dark:bg-dark-wood"></div>
      </ng-container>
    </div>

    <!-- 棋子 -->
    <div class="absolute inset-0">
      <ng-container *ngFor="let piece of level.pieces">
        <div
          [ngStyle]="{
            position: 'absolute',
            left: piece.x * 25 + '%',
            top: piece.y * 20 + '%',
            width: piece.width * 25 + '%',
            height: piece.height * 20 + '%',
          }"
          [ngClass]="{
            'bg-wood': piece.name === '曹操',
            'bg-wood-light': piece.name !== '曹操',
            'dark:bg-dark-wood-lighter': piece.name === '曹操',
            'dark:bg-dark-wood-light': piece.name !== '曹操',
            'rounded-sm': true,
            flex: true,
            'items-center': true,
            'justify-center': true,
          }"
        >
          <span
            [ngClass]="{
              'text-wood-text': true,
              'dark:text-wood-lighter': true,
              'font-bold': piece.name === '曹操',
              truncate: true,
              'w-full': true,
              'text-center': true,
              'px-0.5': true,
              'text-[4px]': size === 'small',
              'text-[6px]': size === 'medium',
              'text-[8px]': size === 'large',
              'leading-none': true,
            }"
            >{{ piece.name }}</span
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>
